<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>テストページ</title>
        <script src="https://unpkg.com/vue@2"></script>
    </head>
    <body>
        <h1>v-html</h1>
        <div id="app">
            <div>
                <hello v-bind:name="name"/>
            </div>
            <div>
                <input type="text" v-model="name">
            </div>
        </div>
        <script>
            Vue.component('hello',
                {
                    props: { name:String },
                    template: '<p class="hello">Hello, {{ name }}</p>'
                }
            )

            var app = new Vue({
                el: '#app',
                data: {
                    name: 'no-name'
                }
            });
        </script>
    </body>
</html>
