<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>テストページ</title>
        <script src="https://unpkg.com/vue@2"></script>
    </head>
    <body>
        <style>
            .red {
                color: red;
            }
        </style>

        <h1>v-html</h1>
        <div id="app">
            <div>
                <hello/>
            </div>
        </div>
        <script>
            Vue.component('hello',
                {
                    data:function() {
                        return {
                            counter: 0,
                            isRed: false
                        }
                    },
                    methods: {
                        doAction: function(event) {
                            this.counter++
                            if (this.counter > 10) {
                                this.counter = 0
                            }
                            if (this.counter % 2) {
                                this.isRed = false
                            } else {
                                this.isRed = true
                            }
                        }
                    },
                    template: '<p v-bind:class="{red:isRed}" v-on:click="doAction" class="hello">clicked:{{ counter }}</p>'
                }
            )

            var app = new Vue({
                el: '#app',
            });
        </script>
    </body>
</html>
